body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(20deg, #960055, #98257e, #8d43a7, #6e60cc, #127aeb);
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 720px;
    height: 80%;
    margin: 2em auto;
    padding: 40px;
}

.calculator {
    width: 50%;
    height: 90%;
    margin: 2em auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 5px 5px 2px;
}

.row {
    height: 20%;
    display: flex;
}


.screen {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 90%;
    box-shadow: 4px 4px 2px;
}

.first {
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 5px 2px;
}

.logo {
    margin-left: 10px;
    width: 50%;
    margin-top: 10px;
    font-style: italic;
    text-shadow: 1px 1px 1px;
    margin-bottom: 10px;
}

.btn-row {
    justify-content: center;
    gap: 15px
}

.btn-num {
    margin-top: 5%;
    gap: 10px;
    width: 20%;
    height: 70%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 2px 2px;
    font-size: 20px;
    text-shadow: 1px 1px 1px;
}

@media (300px <= width <=720px) {
    .container {
        width: 400px;
        padding: 0;
    }

    .calculator {
        width: 90%;
        margin-top: 7em;
    }
}